*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

header{
    height: 10vh;
}

.text-item{
    font-size: 1px;
}

.nav-up{
display: flex;
background-color: black;
height: 100%;
}

.btn{
    background-color: gray;
    padding: .2em;
    border-radius: .6em;
}

.fa-arrows-alt{
    transform: rotate(45deg);
    padding: .2em;
}

.speaker {
    color: white;
}

.arrow4{
    margin-right: .1em;
    color: white;
}

.position{
    justify-content: end;
    align-items: center;
    padding-bottom: 1em;
    padding-top: .1em;
}

.png-size{
    width: 1.5em;
    height: 1.5em;
    align-items:center;
}

/* sezione main- inserimento foto in colonna con flexbox*/

main{
    height: 80vh;
    overflow-y:auto;
    background-color: black;
}
.col{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    padding: 5em ;
}

.asd{
    position: relative;
}

.fa-microphone-slash{
    color: white;
    position: absolute;
    left: 0;
    bottom: 6px; 
    background-color: lightgray;
}

.op{
    opacity: 90%; 
}

.pinco-size{
    font-size: xx-small;
}

/* footer tre div --2 liste */
footer{
    height: 10vh;
    background-color:rgb(47, 46, 46);
}


.color{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.centatura{
    color:white ;
    font-size: 25px;
}

.fa-angle-up{
    padding: 14em;
    font-size: 1px;
}

.share{
    color: green;
}

ul{
    list-style: none;
    display: flex;
    text-align: center;
    vertical-align: middle;
}

.ul-center{
    justify-content:space-between ;
}


a{
    color: white;
    text-decoration: none;
}

.text-a{
    font-size: 1rem; 
    padding-left: .4rem;
}

.end{
    color: red;
    font-size: .1rem;
    line-height: 5;
}

.box-end{
    background-color: rgb(97, 91, 91);
    height: 10vh;
    
}